.add-in {
    position: relative;
}

[class*="add-in__item"] {
    @extend .muted;
    @extend .gamma;
}

.add-in__item--left {
    position: absolute;
    top: $quarter-spacing-unit;
    left: $quarter-spacing-unit;
}

.add-in__holder--left {
    padding-left: 36px;
}

.add-in__item--right {
    position: absolute;
    top: $quarter-spacing-unit;
    right: $quarter-spacing-unit;
}

.add-in__holder--right {
    padding-right: 26px;
}
