.card-list {
    @extend .grid;
    @extend .display--inline-block;

    @include media-query(custom-down, 500px) {
        text-align: center;
    }

    .card-list__item {
        @extend .grid__item;
        @extend .one-third;

        @include media-query(custom-down, 700px) {
            width: 50%;
        }

        @include media-query(custom-down, 500px) {
            width: auto;
        }
    }
}

.card {
    @extend .display--block;
    @extend .repel--bottom;

    max-width: 22em;

    @include box-shadow(
        0 1px 1px 0 rgba(0, 0, 0, 0.18)
    );
}

.card__image-container {
    @extend .relative;
    @extend .display--block;
    @extend .line-height--zeta;

    @include transition(box-shadow 0.15s linear);

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.1);

        @include transition(background 0.15s linear);
    }

    &:hover:before,
    &:focus:before {
        background: rgba(0, 0, 0, 0.0)
    }
}

.card__copy {
    @extend .soft-half;
    @extend .text--left;

    .card__title {
        @extend .display--block;
        @extend .repel-quarter--bottom;
        @extend .text--capitalize;
    }

}