.cart-link {
    @extend .float--right;
    @extend .soft-half;
    @extend .alpha;

    &:hover,
    &:focus,
    &:active {
        color: $kissen-pink--alpha;
        text-decoration: none;
    }

    .cart-link__icon {
        @extend [class*="icon--"];
        @extend .icon--cart;
        @extend .display--inline-block;
        @extend .vert--middle;
        @extend .gamma;
    }
}

#cart-table {
    @extend .one-whole;
    @extend .zeta;

    #cart-head {
        @extend .epsilon;

        display: none;

        @include media-query("lap-and-up") {
            display: table-header-group;
        }

        .cart-head__price,
        .cart-head__subtotal {
            @extend .text--right;
        }

        .cart-head__quantity,
        .cart-head__options {
            @extend .text--center;
        }
    }

    #cart-body {
        display: block;

        @include media-query("lap-and-up") {
            display: table-row-group;
        }

        .cart-item {
            @extend .soft-half--ends;

            min-height: 150px;
            border-bottom: 1px dotted $kissen-gray--epsilon;

            @include media-query("palm") {
                position: relative;
                display: block;

                th,
                td {
                    padding: none;
                }

                td {
                    display: block;
                    text-align: right;
                }
            }

            .cart-item__title {
                @include media-query("palm") {
                    display: block;
                    position: absolute;
                    width: 60%;

                    .cart-item__link-img,
                    .cart-item__link-copy {
                        float: left;
                    }
                }

                .cart-item__link-img,
                .cart-item__link-copy {
                    @extend .vert--middle;
                }

                .cart-item__link-img {
                    @extend .repel-half--right;
                }

                .cart-item__link-copy {
                    @extend .display--inline-block;

                    .cart-item__name,
                    .cart-item__variant {
                        @extend .display--block;
                        @extend .text--tight;
                    }

                    .cart-item__variant {
                        @extend .weight--normal;
                    }
                }

                &:hover,
                &:focus {
                    .cart-item__name,
                    .cart-item__variant {
                        text-decoration: underline;
                    }
                }
            }

            .cart-item__term {
                display: none;

                @include media-query("palm") {
                    display: inline;
                    font-weight: bold;
                    margin-right: $half-spacing-unit/2;
                }
            }

            .cart-item__desc {
                @extend .display--inline;
                @extend .flush--left;
            }

            .cart-item__price,
            .cart-item__subtotal {
                @extend .text--right;
            }

            .cart-item__quantity,
            .cart-item__options {
                text-align: center;

                @include media-query("palm") {
                    text-align: right;
                }
            }

            .cart-item__options {
                @extend .line-height--epsilon;
                @extend .epsilon;

                color: $base-text-color;
            }
        }
    }
}