.cart-link {
    @extend .float--right;
    @extend .soft-half;
    @extend .alpha;

    &:hover,
    &:focus,
    &:active {
        color: $kissen-pink--alpha;
        text-decoration: none;
    }

    .cart-link__icon {
        @extend [class*="icon--"];
        @extend .icon--cart;
        @extend .display--inline-block;
        @extend .vert--middle;
        @extend .gamma;
    }
}

#cart-table {
    @extend .one-whole;
    @extend .zeta;

    #cart-head {
        @extend .hidden;
    }

    #cart-body {
        @extend .display--block;

        .cart-item {
            @extend .display--block;
            @extend .soft-half--ends;

            position: relative;
            min-height: 150px;
            border-bottom: 1px dotted $kissen-gray--epsilon;

            th,
            td {
                @extend .hard;
            }

            td {
                @extend .display--block;

                text-align: right;
            }

            .cart-item__title {
                @extend .display--block;

                position: absolute;
                top: $half-spacing-unit +px;
                left: 0;
                width: 70%;
            }

            .cart-item__options {
                @extend .line-height--epsilon;
            }
        }
    }
}