.card-list {
    @extend .grid;
    @extend .display--inline-block;
    @extend .text--center;


    .card-list__item {
        @extend .grid__item;
        @extend .palm-and-down-one-whole;
        @extend .desk-one-third;

        &:nth-child(3n) {
            @extend .flush--right;
        }
    }
}

@include media-query(lap-and-up) {
    .card-list {
        text-align: left!important;
    }
}

.card {
    @extend .display--block;
    @extend .repel--bottom;

    border-radius: $brand-round;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;

    @include transition(box-shadow 0.15s linear);
    @include box-shadow(
        0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1),
        -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1)
    );
    @include background-size("cover");

    &:nth-child(3) {
        @extend .flush--right;
    }
}

@include media-query(palm) {
    .card { max-width: 18em; }
}

@include media-query(lap) {
    .card { max-width: 16em; }
}

.card__image-holder {
    @extend .relative;
    @extend .display--block;

    line-height: 0;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.1);

        @include transition(background 0.15s linear);
    }

    &:hover:before,
    &:focus:before {
        background: rgba(0, 0, 0, 0.0)
    }
}

.card__image {
    height: 12em;
}

.card--split {
    .card__image {
        width: 100%;
        height: auto;
    }
}

.card__title {
    @extend .weight--bold;
}

.card__title--overlay {
    @extend .display--inline-block;
    @extend .one-whole;
    @extend .gamma;
    @extend .text--center;
    @extend .text--uppercase;

    color: #fff;
    margin-top: 4em;

    @include text-shadow(0 0 4px #888);
}

.card__copy {
    @extend .soft-half;
    @extend .text--left;

    background-color: #fff;

    .card__title {
        @extend .epsilon;
        @extend .text--capitalize;
    }

}

.card--pillows {
    background-image: url(#{"{{ \"all-birds.jpg\" | asset_url }}"});
}

.card--bags {
    background-image: url(#{"{{ \"mono-clutches.jpg\" | asset_url }}"});
}