#logo {
    @extend .flush--bottom;
    @extend .soft-half;
    @extend .line-height--zeta;

    float: left;

    a {
        @extend .display--block;
        @extend .link--svg;

        #logo__object {
            width: 45px;
            height: 45px;

            > img {
                width: 100%;
            }
        }

        @include media-query(lap-and-up) {
            #logo__object {
                width: 60px;
                height: 60px;
            }
        }
    }
}


