#logo {
    @extend .flush--bottom;
    @extend .soft-half;
    @extend .line-height--zeta;

    float: left;

    @include media-query(custom-up, 750px) {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }

    #logo__object {
        width: 45px;
        height: 45px;

        > img {
            width: 100%;
        }
    }

    @include media-query(lap-and-up) {
        #logo__object {
            width: 60px;
            height: 60px;
        }
    }
}


