#main-menu {
    @extend .flush--bottom;
    @extend .content;
    @extend .box--white;
    @extend .text--left;
    @extend .text--uppercase;

    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;

    @include media-query(lap-and-up) {
        top: 124px;
    }

    @include media-query(custom-up, 800px) {
        display: inline-block;
        position: relative;
        top: 2px;
        right: auto;
        left: $base-spacing-unit;
        float: left;
        padding: 0;
        font-size: $base-font-size;
    }

    ul {
        @extend .display--inline-block;
        @extend .nav;
        @extend .flush--bottom;

        width: 100%;
        padding-right: $half-spacing-unit;
        padding-left: $half-spacing-unit;

        > li {
            display: list-item;

            > form {
                margin-bottom: $half-spacing-unit;
            }

            > a {
                display: block;
                padding: $half-spacing-unit $base-spacing-unit;
                width: 100%;
                text-align: center;
            }
        }

        @include media-query(custom-up, 800px) {
            width: auto;
            margin-bottom: 0;

            > li {
                margin-bottom: 0;
                vertical-align: middle;

                &:first-child {
                    display: none;
                }

                &,
                > a {
                    display: inline-block;
                    width: auto;
                    vertical-align: middle;
                }
            }
        }
    }
}