#menu-trigger {
    @extend .button--text;
    @extend .float--right;
    @extend .soft-half--ends;
    @extend .soft-quarter--sides;
    @extend .alpha;

    &:hover,
    &:focus,
    &:active {
        color: $kissen-pink--alpha;
        text-decoration: none;
        outline: none;
    }

    &:focus {
        #menu-trigger__icon:before {
            outline: 1px dotted $kissen-blue--delta;
        }
    }

    @include media-query(custom-up, 800px) {
        display: none;
    }

    #menu-trigger__icon {
        @extend [class*="icon--"];
        @extend .icon--menu;
        @extend .display--inline-block;
        @extend .vert--middle;
        @extend .beta;

        &:before {
            padding: $quarter-spacing-unit;
        }
    }

    &.button--positive {
        #menu-trigger__icon:before {
            outline: none;
            background-color: $kissen-pink--zeta;
        }
    }
}