.search-form {
    @extend .nowrap;

    .search__input {
        @extend .text-input;

        padding-right: 2em;
        vertical-align: top;
    }

    .search__button {
        @extend .button;
        @extend .button--positive;
        @extend .button--small;

        width: 2em;
        margin-left: -2em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        vertical-align: top;

        .search__icon {
            @extend [class*="icon--"];
            @extend .icon--search;

            font-size: 20px;
            vertical-align: text-top;
            margin-left: -1px;
        }
    }
}