.text--left {
    text-align: left !important;
}

.text--center {
    text-align: center !important;
}

.text--right {
    text-align: right !important;
}

.text--uppercase {
    text-transform: uppercase !important;
}

.text--capitalize {
    text-transform: capitalize !important;
}

.text--tight {
    line-height: 1.2 !important;
}