$kissen-blue--alpha:        #0079d4;
$kissen-blue--beta:         #23a1ff;
$kissen-blue--gamma:        #4bb2ff;
$kissen-blue--delta:        #72c2ff;
$kissen-blue--epsilon:      #99d3ff;
$kissen-blue--zeta:         #c0e4ff;

$kissen-green--alpha:       #8ca92b;
$kissen-green--beta:        #b4d250;
$kissen-green--gamma:       #c2da6f;
$kissen-green--delta:       #cfe28f;
$kissen-green--epsilon:     #dceaae;
$kissen-green--zeta:        #eaf2cd;

$kissen-orange--alpha:      #f47037;
$kissen-orange--beta:       #f36324;
$kissen-orange--gamma:      #f57d4a;
$kissen-orange--delta:      #f7986f;
$kissen-orange--epsilon:    #f9b294;
$kissen-orange--zeta:       #fbcdb9;

$kissen-pink--alpha:        #fd008f;
$kissen-pink--beta:         #ff25a0;
$kissen-pink--gamma:        #ff4cb1;
$kissen-pink--delta:        #ff74c2;
$kissen-pink--epsilon:      #ff9bd3;
$kissen-pink--zeta:         #ffc2e5;

$kissen-yellow--alpha:      #fee136;
$kissen-yellow--beta:       #fede22;
$kissen-yellow--gamma:      #fee44a;
$kissen-yellow--delta:      #feea71;
$kissen-yellow--epsilon:    #fef098;
$kissen-yellow--zeta:       #fff5bf;

$kissen-gray--alpha:        #333333;
$kissen-gray--beta:         #5b5b5b;
$kissen-gray--gamma:        #838383;
$kissen-gray--delta:        #aaaaaa;
$kissen-gray--epsilon:      #d2d2d2;
$kissen-gray--zeta:         #fafafa;

$base-text-color:           $kissen-gray--beta;
