/*------------------------------------*\
    $LISTS
\*------------------------------------*/
li {
    margin-bottom: $quarter-spacing-unit;

    /**
     * Remove vertical spacing from nested lists.
     */
    > ul,
    > ol {
         margin-bottom: 0;
     }
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
/*ul*/.numbered-list {
    list-style-type: decimal;
}

.unstyled-list {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
}