/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y: scroll;
    min-height: 100%;
    color: $base-text-color;
}


header {
    @extend .box--white;
    @extend .box--border-bottom;

    margin-bottom: $half-spacing-unit;

    @include media-query(lap-and-up) {
        margin-bottom: $base-spacing-unit;
    }

    .content {
        @extend .cf;
        @extend .text--center;
        @extend .flush--bottom;

        padding-right: 0;
        padding-left: 0;
        z-index: 1;

        @include media-query(lap-and-up) {
            padding: $half-spacing-unit;
        }
    }
}

body {
    @extend .flush--ends;
}

footer {
    @extend .box--white;
    @extend .box--border-top;

    padding-top: $half-spacing-unit;

    @include media-query(lap-and-up) {
        padding-top: $base-spacing-unit;
    }

    > small {
        @extend .soft-quarter--ends;
    }
}