/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y: scroll;
    min-height: 100%;
    color: $base-text-color;
}


header {
    margin-bottom: $half-spacing-unit;

    @include media-query(lap-and-up) {
        margin-bottom: $base-spacing-unit;
        padding: $half-spacing-unit;
    }
}

body {
    max-width: 60.2em;
    margin: 0 auto;
}


.wrapper {
    @include media-query(palm) {
        padding-right: $half-spacing-unit; padding-left:  $half-spacing-unit;
    }

    @include media-query(lap-and-up) {
        padding-right: $base-spacing-unit; padding-left:  $base-spacing-unit;
    }
}