<div class="content" role="main">
    <h1 class="content__title">404 Page Not Found</h1>
    <p class="text--center">The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</p>
</div>
