<div class="content content--skinny">
    <h1 class="content__title repel-quarter--bottom">{{ article.title }}</h1>
    <p class="text--center delta landmark">{{ article.published_at | date: '%d %B %Y' }}</p>
    {{ article.content }}
</div>